.items {
	display: flex;
	justify-content: space-around;
}

.text,
p {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8px;
}
.block {
	width: 370px;
	height: 70px;
	position: absolute;
	background: rgb(50, 45, 45);
	opacity: 75%;
	top: 231px;
}
img {
	position: relative;
}

.color-block {
	width: 100px;
	height: 100px;
}
.color-block:nth-child(1) {
	background: #ff8888;
}
.color-block:nth-child(2) {
	background: #7e8aeb;
	position: relative;
	bottom: 40px;
	left: 60px;
	z-index: 1;
}
.color-block:nth-child(3) {
	background: #4def99;
	position: relative;
	bottom: 80px;
	left: 120px;
}
